/* Estilos globais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #321450; /* Fundo principal da página */
    color: #FFFFFF;
}

/* Cabeçalho */
header {
    text-align: center;
    background-color: #321450; /* Cor de fundo do cabeçalho */
    padding: 20px;
    font-size: 2.5em;
    color: #FFFFFF;
}

h1 {
    font-size: 2.5em;
}

h1 span {
    color: #EFD921; /* Cor do destaque 'NET' */
}

/* Estilos principais */
main {
    padding: 20px;
}

.event-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #48277B; /* Fundo dos cartões */
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card button {
    margin-top: 10px;
    padding: 10px;
    background-color: #EFD921; /* Cor do botão */
    color: #321450;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}

.card button:hover {
    transform: scale(1.05); /* Efeito de hover no botão */
}

/* Navegação inferior */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #4A287C; /* Cor do rodapé */
    padding: 10px 0;
}

.icon-btn {
    background: none;
    border: none;
}

.icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

.active-icon {
    transform: scale(1.3); /* Aumenta o tamanho do ícone ativo */
}

.icon-btn a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Estilo da página de configurações */
.settings-page {
    padding: 20px;
    text-align: center;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle {
    width: 60px;
    height: 30px;
}

/* Estilo da página de perfil */
.profile-page {
    padding: 20px;
    text-align: center;
}

.profile-card {
    background-color: #48277B; /* Cor do fundo do cartão de perfil */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

.profile-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-info p {
    margin: 10px 0;
}

.logout-btn {
    background-color: #EFD921; /* Cor do botão de logout */
    color: #321450;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.logout-btn:hover {
    transform: scale(1.05);
}
